<!DOCTYPE html>
<html>
    <head>
        <title>Jobava</title>
       <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
       
        <img src="/img/jobava.png">
        <img src="/img/jobava_2.png">
        <img src="/img/jobava3.png">
         <img src="/img/jobava4.png">
        <p>{{name}}</p>

        </div>
       
        {{>footer}}
    </body>
</html>