<!DOCTYPE html>
<html>
    <head>
         <link rel="stylesheet"  href="/css/style.css"> 
       
    </head>
    <body>
        <div class="main-content"> {{>header}}
        
        <p>Here you can check wether</p>
       
       <form>
           <input placeholder="location">
           <button>
               Search
           </button>
       </form>
       <p class="forecast"></p>
        <p class="adress"></p>
       </div>
       
        {{>footer}}
        <script src="/js/app.js"></script>
    </body>
</html>